table 
{	text-align:center;
	border:10px black;
}
body {
	text-align: center;
}

a {font:red;
   color: red;
}

td 
{   border:6px black;
	width:96px;
	height:96px;
	text-align:center;
	font-size:40px;
	font-family:sans-serif;
}

h1 
{	color:#D2691E;
	word-spacing:0.2em;
	text-align:Center;
	text-indent:24px;
	font-family:Kunstler Script, Futura, Verdana, sans-serif;
	font-size:80px;
}
h2
{	color:#228B22;
	word-spacing:0.2em;
	text-align:Center;
	text-indent:24px;
	font-family:Candara, Futura, Verdana, sans-serif;
	font-size:40px;
}
body
{
background-color:#FFFF99;
background-image:ul('1.jpg');
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;




}
img 
{	padding: 0px;
	border-width: 0px;
	margin: 0px;
	display: block;
	border:2px black;
}

p {text-align: center}

p.link {text-align: center;
}